@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 1920px;
    height: 600px;
    background-color: #aa6af2;
    padding: 100px 0 0 175px;
}

.main-content {
    width: 1100px;
    height: 550px;
    background-color: #fff;

}

img {
    width: 550px;
    height: 550px;
    float: left;
    background: 55%;
    
}

.content {
    float: right;
    background: 55%;
    padding: 145px 35px 145px 0px;
}

form input {
    width: 490px;
    height: 70px;
    background-color: #e5e5e5;
    border: none;
    margin-bottom: 22px;
    padding: 30px 15px;
    font-size: 18px;
    font-weight: 400;
}

button {
    width: 490px;
    height: 65px;
    background-color: #aa6af2;
    font-size: 25px;
    font-weight: 700;
    border: none;
    padding: 20px 125px;
    color: #fff;
}